body {
    max-width: 700px;
    margin: 20px auto;
    border:1px solid lightgray;
}
.notif {
    position: absolute;
    z-index: 1;
    padding: 5px;
    border: 1px solid black;
    font-size: 20px;
    background: white;
    text-align: center;
}

.welcome {
    background: #43807c;
    color: white;
}
.title {
    cursor: pointer;
}
.Q8 ul {
    display: none;
}
.Q8 .nav ul.show {
    display: block;
}


.card {
    position: relative;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
}